@model IEnumerable<SalaryV2.Models.EmpPayWagQazvin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayCodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayCodTit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayVal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DedCodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DedCodTit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DedVal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtCodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtCodTit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtVal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtValDsc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MazId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HokmVal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAcntTyp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acnt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankCardNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentByEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllBranch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fthr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayCodId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayCodTit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayVal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DedCodId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DedCodTit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DedVal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtCodId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtCodTit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtVal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtValDsc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MazId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HokmVal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAcntTyp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acnt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankCardNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentByEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllBranch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fthr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NationCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
