@model IEnumerable<SalaryV2.Models.RandomNumber>

@{
    ViewBag.Title = "..::..";
    var Str = @TempData["message"];
}
<div class="col-md-12">
    @if (TempData["message"] != null)
    {
        <div class="alert alert-danger" style="color:#a30e0e;font-family:Tahoma;font-size:medium;text-align:center">
            @TempData["message"]
        </div>
    }
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        لیست کارمندان  
    </div>
    <div class="panel panel-body">
        <div class="table-responsive">
            <table id="example" class="table table-bordered table-striped table-responsive ">
                <thead>

                    <tr>
                        <th># </th>
                        <th style="width:25%">نام و نام خانوادگی </th>
                        <th> نام پدر </th>
                        <th> شناسه امنیتی </th>
                        <th>شماره موبایل  </th>
                        <th>کد ملی    </th>
                        <th>   شماره حساب  </th>
                        <th> تاریخ دریافت آخرین کد </th>
                        <th> زمان دریافت آخرین کد </th>
                        <th>ارسال پیام کد امنیتی</th>
                        <th>
                            <a href="@Url.Action("CreateSendCode", "RandomNum")" class="data-modal mstyle " role="button"><i class="fa fa-envelope-o  fa-3x " style="color:#ff0000"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td style="width:25%">
                                @Html.DisplayFor(modelItem => item.Fname) &nbsp; @Html.DisplayFor(modelItem => item.Lname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Father)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SequrityCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NationCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.acnt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EditDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EditTime)
                            </td>
                            <td></td>
                            <td>
                                <a href="@Url.Action("SendCode", "RandomNum", new { id=item.RandId})" class="data-modal mstyle " role="button"><i class="fa fa-envelope  fa-3x" style="color:#00ffff"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th> </th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    $('#example').DataTable();
    //});
    $(document).delegate('.isready', 'click', function (e) {
        e.preventDefault();
        var link = $(this);
        $.ajax({
            type: 'Post',
            url: $(this).attr('href'),
            data: null,
            success: function (data) {
                if (data == 'True') {
                    link.removeClass('glyphicon-ok-circle');
                    link.addClass('glyphicon-ok');
                    link.closest('tr').css('color', 'green');
                }
                else {
                    link.removeClass('glyphicon-ok');
                    link.addClass('glyphicon-ok-circle');
                    link.closest('tr').css('color', 'b');
                }
            },
            error: function () {
                alert('error');
            }
        });
    });
    $(document).ready(function () {
        var t = $('#example').DataTable({
            "columnDefs": [{
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                "pageLength": 10,
                "responsive": true,
                "targets": 0,

                'stateSave': true,
            }],
            "language": {
                select: {
                    rows: "%d سطرانتخاب شده "
                },
                "sEmptyTable": "هیچ داده‌ای در جدول وجود ندارد",
                "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ ردیف",
                "sInfoEmpty": "نمایش 0 تا 0 از 0 ردیف",
                "sInfoFiltered": "(فیلتر شده از _MAX_ ردیف)",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "نمایش _MENU_ ردیف",
                "sLoadingRecords": "در حال بارگزاری...",
                "sProcessing": "در حال پردازش...",
                "sSearch": "جستجو:",
                "sZeroRecords": "رکوردی با این مشخصات پیدا نشد",

                "oPaginate": {
                    "sFirst": "برگه‌ی نخست",
                    "sLast": "برگه‌ی آخر",
                    "sNext": "بعدی",
                    "sPrevious": "قبلی"
                },
                "oAria": {
                    "sSortAscending": ": فعال سازی نمایش به صورت صعودی",
                    "sSortDescending": ": فعال سازی نمایش به صورت نزولی"
                },

            },
            "order": [[1, 'asc']]

        });
        t.on('order.dt search.dt', function () {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    });
</script>