@model Salaryv2.Models.RandomNumber
@{
    Layout = null;
}
<div class="modal-header mh3">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <p class="modal-title Mheader" id="myModalLabel"> آیا مایل به ارسال کد امنیتی  برای اطلاعات زیر هستید؟    </p>
</div>
<style>
    .mh3 {
        color: white;
        text-align: center;
        font-family: Tahoma;
        font-size: large;
        background-color: #8019c7;
    }

    .ch {
        color: darkred;
    }
</style>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RandId)
    @Html.HiddenFor(model => model.Fname)
    @Html.HiddenFor(model => model.Lname)
    @Html.HiddenFor(model => model.Mobile)
    @Html.HiddenFor(model => model.Father)
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <dl class="dl-horizontal">
                <dt>
                    نام  نام خانوادگی:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Fname) &nbsp;&nbsp;
                    &nbsp; @Html.DisplayFor(model => model.Lname)
                </dd>
                <dt>
                    شماره حساب:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.acnt)
                </dd>
                <dt>
                    شماره موبایل:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Mobile)
                </dd>
            </dl>
        </div>
    </div>
    <div class="modal-footer">
        <span id="progress" class="text-center" style="display: none;">
            <img src="~/Content/Images/Wait.gif" alt="wiat" />
            Wait..
        </span>

        <button class="btn" type="button" data-dismiss="modal">Cancel</button>
        <input class="btn btn-success" type="submit" value="ثبت" />
    </div>
}
