@model Salaryv2.Models.RandomNumber

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RandomNumber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SequrityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SequrityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComputerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.acnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrnDeprt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrnDeprt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RandId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
