@using SalaryV2.Models
@model dynamic

@{
    ViewBag.Title = "..: لیست اطلاعات:..";
    bool ispdf = false;
    try
    {
        ispdf = bool.Parse(Request.QueryString["ispdf"]);
    }
    catch { }
    var id = "";
    var c4 = 0;
    var c5 = 0;
    var e1 = ViewBag.e1;
    Session["e1"] = e1;
    var Listem = ViewBag.EmployeeName;

    ViewBag.Title = "..:فیش حقوقی:..";
    long sumOfPardakht = 0;
    Int64 SumOfKasri = 0;
    Int64 Sayer = 0;
    var shomarehsesab = "";
    var sum = 0;
    Int64 Khales = 0;
    TempData["ispdf"] = Convert.ToString(ispdf);
    TempData["EmployeeList"] = TempData["EmployeeList"];
}
<style>
    body {
        background-color: #ffffff;
        font-family: Tahoma;
        font-size: medium;
        margin: 35px;
        padding: 35px;
        -webkit-print-color-adjust: exact;
    }

    .isnum {
        text-align: center;
        font-family: 'B Nazanin';
        font-style: inherit;
        font-size: medium;
    }

    .istitr {
        text-align: center;
        font-family: 'B Nazanin';
        font-size: medium;
    }

    tr {
        margin: 10px;
        padding: 10px
    }

    table {
        width: 100%;
        padding: 10px;
        margin: 10px;
        font-family: 'B Nazanin';
        text-align: center;
    }

    .column {
        color: #166906;
        font-style: oblique;
        font-weight: 600
    }


    .sum {
        color: #165685;
        font-size: medium
    }

    /*p {
        font-family: Tahoma;
        font-size: large;
        color: black;
        text-align: center;
    }*/
</style>
<style type="text/css" media="print">
    .table-striped > tbody > tr:nth-of-type(2n+1) {
        background-color: #b2b1b1 !important;
    }

    body {
        margin: 0px;
        padding: 0px;
    }

    .btn {
        display: none;
    }

    .glyphicon {
        display: none;
    }

    .header {
        display: none;
    }

    .footer {
        display: none;
    }

    .noprint {
        display: none;
    }
</style>

<div class="form-horizontal ">
    @if (ispdf == false)
    {
        <div class="row noprint">
            @using (Html.BeginForm())
            {
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-4">
                                سال
                                @Html.DropDownList("YearId", null, "---سال---", new { @class = "form-control " })

                            </div>
                            <div class="col-md-4">
                                ماه
                                @Html.DropDownList("MonthId", null, "---ماه---", new { @class = "form-control " })
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-primary" value="جستجو" />

                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
        if (ViewBag.MessageMonthNull != null)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">

                        <p>@ViewBag.MessageMonthNull</p>

                    </div>
                </div>
            </div>

        }
        else
        {
            if (ViewBag.IsNew == true)

            {
                <div class="row">
                    @{
                        var Em = (IEnumerable<SalaryV2.Models.EmpVm>)Model.Em;

                    }
                    @Html.Partial("_printNew", Em)
                </div>
            }
            else
            {
                <div class="row">
                    @{
                        var Emo = (IEnumerable<SalaryV2.Models.Old.DWHEmpPayWagNew>
                            )Model.Emo;
                    }
                    @Html.Partial("OldPrint", Emo)
                </div>
            }
        }


    }
</div>
@section scripts{
    <script type="text/javascript">

        $('#Printbtn').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'post',
                url: '@Url.Action("IsPrint", "Logs")',
                success: function (data) {
                    if (data.toString() == "True") {
                    }
                    else if (data.toString() == "false") {
                    }
                }
            })
        });

        document.getElementsByTagName("BODY")[0].onafterprint = function() {myFunction()};

        function myFunction() {
            var response = null;
            $.ajax({
                async: true,
                url: '@Url.Action("IsPrintM", "Logs")',
                cache: false,
                dataType: "json",
                success: function (data) {

                    if (data.toString() == "True") {

                    }
                    else if (data.toString() == "false") {
                    }
                }
            });
        }
    </script>
}










