@model SalaryV2.Models.Corporate.vwCalculation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vwCalculation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonnelRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DLTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DLTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DLTitle_En)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DLTitle_En)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DLCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DLCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchDLRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchDLRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchCostCenterDLRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchCostCenterDLRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchCostCenterDLTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchCostCenterDLTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchCostCenterDLCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchCostCenterDLCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoucherRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoucherRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoucherNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoucherNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoucherDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoucherDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DlRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DlRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementAccountRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementAccountRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementPaymentAccountRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementPaymentAccountRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementPaymentDlType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementPaymentDlType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankTitle_En)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankTitle_En)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchTitle_En)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchTitle_En)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountTypeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountTypeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountTypeTitle_En)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountTypeTitle_En)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
