@model SalaryV2.Models.EmpPayWagQazvin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmpPayWagQazvin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayCodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayCodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayCodTit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayCodTit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DedCodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DedCodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DedCodTit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DedCodTit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DedVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DedVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtCodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtCodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtCodTit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtCodTit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtValDsc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtValDsc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MazId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MazId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HokmVal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HokmVal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAcntTyp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAcntTyp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankCardNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankCardNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SentByEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SentByEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllBranch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fthr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fthr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
