@model IEnumerable<SalaryV2.Models.Corporate.vwCalculation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonnelRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DLTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DLTitle_En)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DLCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchDLRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchCostCenterDLRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchCostCenterDLTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchCostCenterDLCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoucherRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoucherNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoucherDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DlRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementAccountRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementPaymentAccountRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElementPaymentDlType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankTitle_En)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchTitle_En)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountTypeTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountTypeTitle_En)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonnelRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DLTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DLTitle_En)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DLCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchDLRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchCostCenterDLRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchCostCenterDLTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchCostCenterDLCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoucherRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoucherNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoucherDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DlRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElementAccountRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElementPaymentAccountRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElementPaymentDlType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankTitle_En)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchTitle_En)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountTypeTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountTypeTitle_En)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
