@model IEnumerable<Salaryv2.Models.RandomNumber>

@{
    ViewBag.Title = "..::..";
}
<div class="panel panel-default">
    <div class="panel-heading">
        لیست متکدیان
    </div>
    <div class="panel panel-body">
        <div class="table-responsive">
            <table id="example" class="table table-bordered table-striped table-responsive ">
                <thead>
                   
                    <tr>
                        <th># </th>
                        <th style="width:25%">نام و نام خانوادگی </th>
                        <th> نام پدر </th>
                        <th> شناسه امنیتی </th>
                        <th>شماره موبایل  </th>
                        <th>کد ملی    </th>
                        <th>   شماره حساب  </th>
                        <th> زمان دریافت آخرین کد </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td></td>
                        <td style="width:25%">
                            @Html.DisplayFor(modelItem => item.Fname) &nbsp; @Html.DisplayFor(modelItem => item.Lname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Father)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SequrityCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NationCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.acnt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EditDate) &nbsp;@Html.DisplayFor(modelItem => item.EditTime)
                        </td>
                        <td></td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th> </th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>