@model Salaryv2.Models.Search
@{
                ViewBag.Title = "..: فرم بازیابی اطلاعات:..";
}
<br />
<br />
<style>
    .panel-heading {
        text-align: center;
    }
    .color_Message {
        color: darkred;
    }
</style>
@using (Html.BeginForm("search", "DWHEmpPayWagNews", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <p>
                        <span class="fa fa-bell faa-wrench animated fa-2x" style="color:#a70808"></span>
                        همکار گرامی :

                    </p>
                    <p>
                        <span class="fa fa-pencil fa-2x"></span>
                        لطفا از مرورگر فایرفاکس استفاده نمائید.
                    </p>
                    <p>
                        <span class="fa fa-pencil fa-2x"></span>
                        اگر تا کنون شناسه امنیتی دریافت نکرده اید  گزینه ایجاد شناسه امنیتی را کلیک نمائید توجه داشته باشید که دریافت یک بار شناسه امنیتی کافی می باشد  .

                    </p>
                    <p>
                        <span class="fa fa-pencil fa-2x"></span>
                        پیامک حاوی شناسه امنیتی جهت مشاهده فیش ارسال خواهد شد.
                    </p>
                    <p>
                        <span class="fa fa-pencil fa-2x"></span>
                        درصورت  تمایل برای تغییر شناسه امنیتی  گزینه ایجاد شناسه را کلیلک نمائید .
                    </p>
                    <p>
                        <span class="fa fa-pencil fa-2x"></span>
                        در صورت بروز خطا در هنگام ثبت نام با شماره <strong>33361231</strong> سازمان فناوری اطلاعات و ارتباطات شهرداری قزوین تماس  حاصل فرمائید.
                    </p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-danger" style="color:#a30e0e;font-family:Tahoma;font-size:medium;text-align:center">
                        @TempData["message"]
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-offset-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        نمایش فیش حقوقی
                    </div>
                    <div class="panel-body">

                        @*<div class="row">
                            <div class="col-md-6 col-xs-offset-4 ">
                                <a href="@Url.Action("GenerateCode", "RandomNumbers")" class="btn btn-info ">
                                    ایجاد شناسه امنیتی
                                    <i class="fa fa-user-plus fa-2x"></i>

                                </a>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="alert-danger">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            @if (!string.IsNullOrEmpty(ViewBag.Message))
                            {
                                <p></p>
                                <p style="text-align:center;color:darkred">
                                    <span class="fa fa-bell-o faa-wrench animated " style="color:#a70808"></span>
                                    اطلاعاتی با این مشخصات در سیستم ثبت نشده است دوباره تلاش کنید
                                </p>
                            }

                        </div>

                        <div class="row">
                            <div class="col-md-12 col-xs-offset-2">
                                <span class="fa fa-star faa-wrench animated " style="color:#a70808"></span>
                                کد ملی
                                <div style="">
                                    <div class="input-group" style="margin-bottom: 10px">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user-circle-o fa-2x">
                                            </i>
                                        </span>
                                        @Html.TextBoxFor(model => model.e1, new { @class = "form-control input-lg", placeholder = " کد ملی  ", autocomplete = "off" })
                                    </div>
                                    <b>
                                        @Html.ValidationMessageFor(model => model.e1, "", new { @class = "text-danger" })
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-offset-2">
                                <span class="fa fa-star faa-wrench animated " style="color:#a70808"></span>
                                شماره حساب

                                <div style="">
                                    <div class="input-group " style="margin-bottom: 10px" id="datePicker">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user-circle fa-2x">
                                            </i>
                                        </span>
                                        @Html.TextBoxFor(model => model.b2, new { @class = "form-control input-lg", placeholder = "شماره حساب  ", autocomplete = "off" })
                                    </div>
                                    <b>
                                        @Html.ValidationMessageFor(model => model.b2, "", new { @class = "text-danger" })
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-offset-2">
                                <span class="fa fa-star faa-wrench animated " style="color:#a70808"></span>

                                شناسه امنیتی
                                <div style="">
                                    <div class="input-group " style="margin-bottom: 10px" id="datePicker">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user-circle fa-2x">
                                            </i>
                                        </span>
                                        @Html.PasswordFor(model => model.SequrityCode, new { @class = "form-control input-lg", placeholder = "شناسه امنیتی  ", autocomplete = "off" })
                                    </div>
                                    <b>
                                        @Html.ValidationMessageFor(model => model.SequrityCode, "", new { @class = "text-danger" })
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4 col-xs-offset-4">
                                <button class="btn  btn-success  fa-x" data-last="Finish ">
                                    نمایش فیش حقوقی
                                    <i class="fa fa-search-minus"></i>
                                </button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="col-md-3">
    </div>
    <footer>
        <hr />

        <div style="text-align:center">
            <img src="~/Content/Image/salaryfooter.png" style="" />
        </div>
    </footer>


}

