@model IEnumerable<Salaryv2.Models.EmpVm>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "..: لیست اطلاعات:..";
    bool ispdf = false;
    try
    {
        ispdf = bool.Parse(Request.QueryString["ispdf"]);
    }

    catch { }
    var id = "";
    var c4 = 0;
    var c5 = 0;
    var e1 = ViewBag.e1;
    Session["e1"] = e1;
    var Listem = ViewBag.EmployeeName;

    ViewBag.Title = "..:فیش حقوقی:..";
    long sumOfPardakht = 0;
    Int64 SumOfKasri = 0;
    Int64 Sayer = 0;
    var shomarehsesab = "";
    var sum = 0;
    Int64 Khales = 0;
    Session["ispdf"] = Convert.ToString(ispdf);
}
<style>
    modal-body {
        font-family: Tahoma;
        font-size: larger
    }

    body {
        font-size: 8pt;
        font-family: Tahoma;
        direction: rtl;
        text-align: justify;
    }

    td {
        width: 20px;
        height: 20px;
    }

    .forPrint {
        visibility: visible;
        color: red;
    }

    .forScreen {
        visibility: hidden;
    }

    .footer1 {
        text-align: center;
        color: #ae0c0c;
        font-weight: 700
    }
</style>
<style media="print">
    .btn {
        display: none;
    }

    .glyphicon {
        display: none;
    }

    .header {
        display: none;
    }

    .footer {
        display: none;
    }

    .panel {
        display: none;
    }

    body {
        -webkit-print-color-adjust: exact;
    }

    body {
        color: blue;
        font-family: 'B Nazanin';
        font-size: 10px;
    }

    .noprint {
        display: none;
    }
</style>
<br />
<br />
<div class="form-horizontal">

    <div class="row">
            @if (ViewBag.MessageMonthNull == null)
            {
                <div style="padding-top:0px !important">
                    <div class="container ">
                        <table width="80%" class="table table-bordered table-striped">
                            <tbody style="color:#23765d ">
                                <tr style="text-align:center;font-size:10px ">
                                    <td colspan="1">
                                        <img src="~/Content/Image/images.png" style="height:40px;width:40px" />

                                    </td>
                                    <td colspan="5">
                                        <h4 style="font-family:'B Nazanin'">
                                            شهرداری قزوین &nbsp;@Listem.Branch &nbsp; @ViewBag.e7 &nbsp;  @Listem.Year
                                        </h4>
                                    </td>
                                </tr>
                                <tr style="text-align:center;font-size:10px ">
                                    <td>
                                        <b style="font-family:'B Titr',Tahoma;font-size:10px">
                                                شماره پرسنلی:&nbsp;  @Listem.EmpId
                                        </b>
                                    </td>

                                    <td>
                                        <b>
                                            نام خانوادگی:&nbsp;  @Listem.FullName
                                        </b>

                                    </td>

                                    <td>
                                        <b>
                                            نام پدر:&nbsp; @Listem.Fthr
                                        </b>

                                    </td>
                                    <td>
                                        <b style="font-family:'B Titr',Tahoma;font-size:10px">
                                            شماره بیمه:&nbsp;  @Listem.InsId
                                        </b>

                                    </td>
                                    <td>
                                        <b>
                                            @*واحد سازمانی:&nbsp;  @Listem.d9*@

                                        </b>

                                    </td>
                                    <td>
                                        <b style="font-family:'B Titr',Tahoma;font-size:10px">
                                            گروه :&nbsp;  @Listem.CrnGrp &nbsp;&nbsp;گروه تشویقی :&nbsp;  @Listem.CrnExtGrop
                                        </b>

                                    </td>
                                </tr>

                            </tbody>


                        </table>

                        <table class="table table-bordered table-striped">
                            <thead style="text-align:center">
                                <tr>
                                    <td>
                                        <b>
                                            پرداخت ها
                                        </b>

                                    </td>
                                    <td>
                                        <b>
                                            ریال
                                        </b>

                                    </td>
                                    <td>
                                        <b>
                                            کسرها
                                        </b>

                                    </td>
                                    <td>
                                        <b>
                                            ریال
                                        </b>


                                    </td>
                                    <td>
                                        <b>
                                            سایر اطلاعات
                                        </b>

                                    </td>
                                    <td>
                                        <b>
                                            مقدار
                                        </b>


                                    </td>
                                </tr>
                            </thead>
                            <tbody style="font-size:12px;color:#23765d;font-family:'B Nazanin' ">
                                @foreach (var item in Model)
                                {


                                    <tr>

                                        <td style="color:black;">
                                            @item.PayCodTit
                                        </td>
                                        <td class="column">

                                            @if (@item.PayCodTit == "")
                                            {

                                            }

                                            else
                                            {
                                                <b class="Currency">


                                                    @Convert.ToInt64(@item.PayVal)

                                                </b>
                                                sumOfPardakht += @Convert.ToInt64(@item.PayVal);
                                            }
                                        </td>
                                        <td style="color:black;">

                                            @item.DedCodTit
                                        </td>
                                        <td class="column">
                                            <b>
                                                @if (@item.DedCodTit == "")
                                                {
                                                }
                                                else
                                                {
                                                    <b class="Currency">
                                                        @Convert.ToInt64(@item.DedVal)

                                                    </b>
                                                    SumOfKasri += @Convert.ToInt64(@item.DedVal);
                                                }
                                            </b>
                                        </td>
                                        <td style="color:black;">

                                            @item.ExtCodTit

                                        </td>
                                        <td class="column">
                                            <b>
                                                @if (@item.ExtCodTit == "")
                                                {

                                                }
                                                else
                                                {
                                                    <b class="Currency">
                                                        @Convert.ToInt64(@item.ExtVal)

                                                    </b>
                                                }
                                            </b>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr style="font-family:'B Nazanin',Tahoma;color:#790f6a ;font-size:medium">
                                    <td colspan="2">
                                        مجموع پرداخت ها:
                                        <b class="Currency ">
                                            @sumOfPardakht
                                        </b>

                                    </td>
                                    <td colspan="2">

                                        مجموع کسورات :
                                        <b class="Currency">
                                            @SumOfKasri
                                        </b>
                                    </td>
                                    <td colspan="2">
                                        خالص دریافتنی :
                                        <b class="Currency "> @(sumOfPardakht - SumOfKasri)</b>


                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" style="color:#188a79;font-size:medium;font-family:b Nazanin,Tahoma;text-align:center">
                                        مبلغ    <b class="Currency"> @(sumOfPardakht - SumOfKasri)</b>  ریال نزد بانک شهر به شماره حساب <b>
    @Listem.Acnt

</b> واریز شد.
                                    </td>
                                </tr>
                                @if (ispdf == false)
                                {
                                    <tr>
                                        <td colspan="6">

                                            <a data-href="#" data-toggle="modal" data-target="#myModal" class="" style="color: #790f6a;" href="#" title="پرینت">
                                                <img src="~/Content/print-icon.png" style="height:55px;width:55px" />
                                            </a>
                                            |

                                            <a href="/DWHEmpPayWagNews/GeneratePDF/?id=@Listem.b2&e1=@Listem.e1&c4=@Listem.c4&c5=@Listem.c5" title="pdfخروجی " class="">
                                                <img src="~/Content/Adobe-PDF-Document-icon.png" style="height:50px;width:50px" />
                                            </a>
                                            |
                                            <a href="/DWHEmpPayWagNews/search" style="color:darkred" class="a-4x" title="خروج">

                                                <img src="~/Content/Button-Delete-icon.png" style="height:50px;width:50px" />
                                            </a>

                                        </td>
                                    </tr>
                                }

                            </tfoot>

                        </table>
                    </div>

                </div>
            }
    </div>
</div>












